body {
    background: white;
}

#ScheduleMaker {
    /* Center Main Title */
    text-align: center;
}

.navbar {
    /* top navigation bar */
    overflow: hidden;
    background-color: #106878;
    position: absolute;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #badfe6;
    color: #032e36;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

.slogan {
    font-family: Arial;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #106878;
    font-size: 35px;
}

/* Resizes the title image */
.resize {
    width: 300px;
    height: auto;
}

/* Get Started Button */
.button {
    background-color: #032e36;
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    /* get started button hover effect to change colors */
    background-color: #badfe6;
    transition: 0.7s;
}

.getStartedButtonContainer {
    /* get started button */
    height: 200px;
    position: relative;
}

.center {
    /* centers the get started button */
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Resizes the small icon */
.resizeLogo {
    width: 100px;
    height: auto;
}

#ScheduleIcon {
    /* Align small icon in left hand corner */
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}

.sloganStart {
    /* the top slogan "Let's Start!" */
    font-family: Arial;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #106878;
    font-size: 50px;
}

#askNumClasses {
    /* text displays to ask number of classes */
    position: absolute;
    top: 200px;
    left: 50px;
    right: 200px;
    font-size: 22px;
    font-family: Arial;
}

#classInfoForms {
    /* details of the classInfoForms */
    height: 100px;
    width: auto;
    background-color: #f0f0f0;
    margin: 5px;
    border-radius: 25px;
}

form {
    /* displays where the classInfoForms will be */
    display: inline-block;
}

#classInfo {
    /* information text within the class info boxes */
    font-family: Arial;
    font-size: 20px;
    margin: 20px;
    padding: 15px 5px;
}

#classWrapper {
    /* changes the class info box to adjust to screen */
    width: 100%;
}

.footer { /* footer attributes */
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #badfe6;
    color: white;
    text-align: center;
    font-family: Arial;
}

.footerContent {
    /* padding the footer adds 40 to footer height */
    padding-bottom: 100px;
}