body {
    background: white;
}

#ScheduleMaker {
    /* Center Main Title */
    text-align: center;
}

.navbar {
    /* top navigation bar */
    overflow: hidden;
    background-color: #106878;
    position: absolute;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #badfe6;
    color: #032e36;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

.slogan {
    font-family: Arial;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #106878;
    font-size: 35px;
}

/* Resizes the title image */
.resize {
    width: 300px;
    height: auto;
}

/* Get Started Button */
.button {
    background-color: #032e36;
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    /* get started button hover effect to change colors */
    background-color: #badfe6;
    transition: 0.7s;
}

.getStartedButtonContainer {
    /* get started button */
    height: 200px;
    position: relative;
    padding-top: 220px;
}

.center {
    /* centers the get started button */
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Resizes the small icon */
.resizeLogo {
    width: 100px;
    height: auto;
}

#ScheduleIcon {
    /* Align small icon in left hand corner */
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}

.sloganStart {
    /* the top slogan "Let's Start!" */
    font-family: Arial;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #106878;
    font-size: 50px;
}

.askNumClasses {
    /* text displays to ask number of classes */
    position: absolute;
    top: 180px;
    left: 60px;
    right: 200px;
    font-size: 24px;
    font-family: Arial;
}

.classInfoForms {
    /* details of the classInfoForms */
    height: auto;
    width: auto;
    background-color: #d8edf1;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

form {
    /* displays where the classInfoForms will be */
    display: inline-block;
}

.classInfo {
    /* information text within the class info boxes */
    font-family: Arial;
    font-size: 18px;
    margin: 20px;
    padding: 5px;
}

.classWrapper {
    /* changes the class info box to adjust to screen */
    width: 100%;
    margin-bottom: 120px;
}

.footer {
    /* footer attributes */
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #badfe6;
    color: #106878;
    text-align: center;
    font-family: Arial;
}

.footerContent {
    /* padding the footer adds 40 to footer height */
    padding-bottom: 100px;
}

/* style guide for the sections information parts */
.sectionWrapper {
    /* changes the section info box to adjust to screen */
    width: 100%;
    margin-top: 10px;
}

.sectionInfoForms {
    /* details of the classInfoForms */
    float: left;
    height: auto;
    width: auto;
    background-color: #fcfcfc;
    margin: 5px;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.sectionInfo {
    /* information text within the class info boxes */
    font-family: Arial;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
}

/* create schedule button */
.button-19 {
    appearance: button;
    background-color: #106878;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    bottom: 40px;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #106878;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

input[type="time"] {
    /* changes how the input time looks */
    border: 1px solid #ccc;
    color: #888;
    margin: 0.5em;
    vertical-align: middle;
    outline: 0;
    padding: 0.5em 1em;
    border-radius: 4px;
    width: calc(100% - 3em - 2px);
    font-family: sans-serif;
}

.howItWorks {
    height: 40%;
    width: auto;
    padding-bottom: 40px;
    position: relative;
    display: block;
    background-color: #d8edf1;
}

.howInfo {
    color: #032e36;
    font-family: Arial;
    font-size: 22px;
    margin-left: 20px;
    padding-top: 40px;
}

.body {
    /* set the body of page */
    margin: 0;
    padding: 0;
}

#getStartedImage {
    width: 200px;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
    border: 5px solid #032e36;
}

#infoImage {
    width: 250px;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
    border: 5px solid #032e36;
}

#sectionImage {
    width: 700px;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
    border: 5px solid #032e36;
}

#sectionSpecificImage {
    width: 250px;
    height: auto;
    margin-left: 30px;
    border-radius: 20px;
    border: 5px solid #032e36;
}

#scheduleOptionsImage {
    width: 250px;
    height: auto;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 5px solid #032e36;
}

.howToText {
    color: #032e36;
    font-family: Arial;
    font-size: 18px;
    margin-left: 30px;
    padding-top: 8px;
}

/* button for scrolling down page */
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;

    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-17:hover {
    background: #F6F9FE;
    color: #032e36;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #032e36;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* button for scrolling down page */
.buttonup {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 60px;
    will-change: transform, opacity;
    z-index: 0;

    margin: 0;
    position: absolute;
    right: 0;
    bottom: 4%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttonup:hover {
    background: #F6F9FE;
    color: #032e36;
}

.buttonup:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.buttonup:focus {
    outline: none;
    border: 2px solid #032e36;
}

.buttonup:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonup:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.buttonup:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonup:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.buttonup:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#classListUp { /* button for going up page that is fixed for the class input page */
    position: fixed;
    bottom: 90px;
    right: 0;
    width: 60px;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.centerLoader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}